.box_table {
    display: flex;
    justify-content: center;
}
table {
    width: 100%;

}
input {
    border: none;
    background: transparent;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.header_batton a {
    background: #000;
    padding: 10px 20px;
    color: #fff;
}
.box_form_content {
    display: flex;
}
.box_form_content form {
    display: flex;
}
.form_content_box_select {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.form_content_box_select a {
    background: #3e3e3e3e;
    padding: 5px 10px;
    color: #000000;
}
.box_form.home_box_form {
    margin-bottom: 25px;
}
