.box_table {
    display: flex;
    justify-content: center;
}
table {
    width: 100%;

}
input {
    border: none;
    background: transparent;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.header_batton a {
    background: #000;
    padding: 10px 20px;
    color: #fff;
}